{% load staticfiles %}
<!DOCTYPE html>
<html lang="tr">
<head>
	<title>Acil Kayıt Ol</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--=slide==============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
<!--===============================================================================================-->
<style>
::selection {
	color: white;
	background: red;
}
.isa_warning {
	color: #9F6000;
	background-color: #FCF9F9;
	border: 1px solid red;
  border-radius: 2px;
	width: 100%;
}
.isa_error {
	color: #D8000C;
	background-color: #FFD2D2;
	width: 100%;
	margin-bottom: 10px;
	padding:8px;
	border-radius: 8px;
}
</style>
</head>
<body style="background-color: #999999;">

	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('{% static 'images/kan.jpg' %}');">
				<div class="place">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="agileits_w3layouts_welcome_grid">
									<img src="{% static "images/g1.jpg" %}" alt="" class="img-responsive" />
								</div>
							</li>
							<li>
								<div class="agileits_w3layouts_welcome_grid">
									<img src="{% static "images/g2.jpg" %}" alt="" class="img-responsive" />
								</div>
							</li>
							<li>
								<div class="agileits_w3layouts_welcome_grid">
									<img src="{% static "images/g3.jpg" %}" alt="" class="img-responsive" />
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form method="POST" action="{% url 'acil' %}" class="login100-form validate-form">
					<span class="login100-form-title p-b-20">
						Acil Kayıt Ol
					</span>

					<div class="card border-danger mb-3" style="max-width: 28rem;">
					  <div class="card-header">Bilgilendirme..</div>
					  <div class="card-body text-danger">
					    <h5 class="card-title">Acil Kayıt</h5>
					    <p class="card-text">"Acil Kayıt" size siteye yeterli bilgiler girmeden hızlı kayıt olma
							olanağı sağlar. Fakat işinizin aciliyetinden dolayı yarım bıraktığınız
							gerekli temel bilgilerinizi siteye kayıt olduktan veya size gerekli
							işlemleri bitirdikten sonra tamamlamanız gerek.</p>
							<br><a href="/register/" class="btn btn-outline-secondary">Normal Kayıt Ol</a>
					  </div>
					</div>

          {% csrf_token %}
					{% if form.password2.errors %}
          <div class="isa_error animated bounceIn" align=center>
						 Şifrenizi belirlerken aşağıdaki kural(lar)ı dikkate alınız.<br>
	 					 *Şifreniz <b>kullanıcı adınız</b> veya <b>adınızı</b> içermemeli<br>
						 *Şifreniz en az 8 karakterli olmalı.<br>
						 *Şifreniz rakam ve harf içerebilir.<br><hr>
						 <div class="row">
							 <div class="col-md-6" align="right">
		 					 	Örnek kullanıcı adı: ahmet
							 </div>
							 <div class="col-md-6" align="left">
							  (<s>şifre: ahmet123</s>) <i class="fa fa-window-close" aria-hidden="true"></i><br>
							 </div>
					 	 </div>
						 <div class="row">
							 <div class="col-md-6" align="right">
							 </div>
							 <div class="col-md-6" align="left">
							  (şifre: benimşifrem123) <i class="fa fa-check-square" aria-hidden="true"></i><br>
							 </div>
					 	 </div>
						 <div class="row">
							 <div class="col-md-6" align="right">
		 					 	Örnek ad: Ahmet
							 </div>
							 <div class="col-md-6" align="left">
							  (<s>şifre: Ahmet123</s>) <i class="fa fa-window-close" aria-hidden="true"></i><br>
							 </div>
					 	 </div>
						 <div class="row">
							 <div class="col-md-6" align="right">
							 </div>
							 <div class="col-md-6" align="left">
							  (şifre: benimşifrem123) <i class="fa fa-check-square" aria-hidden="true"></i><br>
							 </div>
					 	 </div>
          </div>
          {% endif %}

					{% if form.username.errors %}
          <div class="isa_warning animated bounceIn" align=center>
             <i class="fa fa-times-circle"></i>
             Bu kullanıcı adında bir kullanıcı zaten mevcut.
          </div>
          {% endif %}
					<div class="wrap-input100 validate-input" data-validate = "Kullanıcı adı gerekli">
						<span class="label-input100">Kullanıcı Adı</span>
						<input class="input100" type="text" name="username" placeholder="Kullanıcı adınız..."/>
						<span class="focus-input100"></span>
					</div>

					{% if form.email.errors %}
          <div class="isa_warning animated bounceIn" align=center>
             <i class="fa fa-times-circle"></i>
             E-Posta zaten mevcut.
          </div>
          {% endif %}
					<div class="wrap-input100 validate-input" data-validate="Geçerli e-posta gerekli: örnek@abc.xyz">
						<span class="label-input100">E-Posta</span>
						<input class="input100" type="text" name="email" placeholder="E-Posta adresiniz..."/>
						<span class="focus-input100"></span>
					</div>

					{% if form.password2.errors %}
          <div class="isa_warning animated bounceIn" align=center>
             <i class="fa fa-times-circle"></i>
             En az 8 karakterli şifre gerekli.
          </div>
          {% endif %}
					<div class="wrap-input100 validate-input" data-validate = "En az 8 karakterli şifre gerekli">
						<span class="label-input100">Şifre</span>
						<input class="input100" type="password" name="password1" placeholder="*************"/>
						<span class="focus-input100"></span>
					</div>

					{% if form.password2.errors %}
          <div class="isa_warning animated bounceIn" align=center>
             <i class="fa fa-times-circle"></i>
             Şifre tekrarının aynı olduğundan emin olun.
          </div>
          {% endif %}
					<div class="wrap-input100 validate-input" data-validate = "En az 8 karakterli şifre gerekli">
						<span class="label-input100">Şifre Tekrar</span>
						<input class="input100" type="password" name="password2" placeholder="*************"/>
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Kaydol
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
<!--=slide==============================================================================================-->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
<!--===============================================================================================-->

</body>
</html>
