{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>
<html lang="tr">
<head>
	<title>Giriş Yap</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--=slide==============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/tooltip-hover.css' %}">
<!--===============================================================================================-->
	<style>
		::selection {
			color: white;
			background: red;
		}
    .isa_error {
      color: #D8000C;
      background-color: #FFD2D2;
			width: 100%;
			margin-bottom: 10px;
      padding:8px;
      border-radius: 8px;
    }
		.isa_success {
      color: #4F8A10;
      background-color: #DFF2BF;
			width: 100%;
			margin-bottom: 10px;
      padding:8px;
      border-radius: 8px;
    }
		#capslockText {display:none;color:red}
  </style>
</head>
<body style="background-color: #999999;">

	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('{% static 'images/kan.jpg' %}');">
				<div class="place">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="agileits_w3layouts_welcome_grid">
									<img src="{% static "images/g1.jpg" %}" alt="" class="img-responsive" />
								</div>
							</li>
							<li>
								<div class="agileits_w3layouts_welcome_grid">
									<img src="{% static "images/g2.jpg" %}" alt="" class="img-responsive" />
								</div>
							</li>
							<li>
								<div class="agileits_w3layouts_welcome_grid">
									<img src="{% static "images/g3.jpg" %}" alt="" class="img-responsive" />
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form method="POST" action="{% url 'login' %}" class="login100-form validate-form">
					<span class="login100-form-title p-b-59">
						Üye Girişi
						{% if user.is_authenticated %}
						<button onclick="location.href='/home/'" type="button" disabled class="btn btn-info qtip tip-bottom" data-tip="En son {{ user.last_login|naturaltime }} {{user}} isimli kullanıcı adıyla giriş yapıldı.">Ziyaretçi</button>
						{% else %}
						<button onclick="location.href='/home/'" type="button" class="btn btn-info">Ziyaretçi</button>
						{% endif %}
					</span>

					{% if form.errors %}
          <div class="isa_error animated bounceIn" align=center>
             <i class="fa fa-times-circle"></i>
             Lütfen doğru kullanıcı adı ve şifre girin. Her iki alanında büyük, küçük harfe duyarlı olabileceğini unutmayın.
          </div>
          {% endif %}

					{% if messages %}
					{% for messages in messages %}
					<div class="isa_success" align=center>
             <i class="fa fa-check"></i>
             {{messages}}
          </div>
					{% endfor %}
					{% endif %}

          {% csrf_token %}
					<div class="wrap-input100 validate-input" data-validate="Kullanıcı adı gerekli">
						<span class="label-input100">Kullanıcı adı</span>
						<input class="input100" type="text" name="username" placeholder="Kullanıcı adınız..."/>
						<span class="focus-input100"></span>
					</div>

					<div id="capslock" class="wrap-input100 validate-input" data-validate = "Şifre gerekli">
						<span class="label-input100">Şifre</span>
						<input class="input100" type="password" name="password" placeholder="*************"/>
						<span class="focus-input100"></span>
						<p id="capslockText">UYARI! Caps lock açık.</p>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Giriş Yap
							</button>
						</div>
            <input type="hidden" name="next" value="{{ next }}" />
						<a href="/register/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Kayıt Ol
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>

					</div>
				</form>
				<div align="center">
				<br><br><a href="#">Şifreni mi unuttun?</a></div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>
<!--=slide=========================================================================================-->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
<!--===============================================================================================-->
<!--=detect capslock=========================================================================================-->
	<script>
		var input = document.getElementById("capslock");
		var text = document.getElementById("capslockText");
		input.addEventListener("keyup", function(event) {
		if (event.getModifierState("CapsLock")) {
		    text.style.display = "block";
		  } else {
		    text.style.display = "none"
		  }
		});
	</script>
<!--===============================================================================================-->

</body>
</html>
